.principal {
    color: blueviolet;
    font-size: 500;
    width: 250px;
    height: 350px;
    border: solid ;
    border-color: aquamarine;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}